<footer id="pie-pagina" class = "bg-warning text-white mt-1 p-1">
    <div class="container">
        <div class = "row">
            <div class = "col-6">
                <p class="lead text-center"><img  src="assets/images/logocat.png" >
                &copy; 2022 Cat-Eyes</p>
            </div>
            <div class = "col-6">
                <p class="lead text-center"><img  src="assets/images/logocat.png" >
                &copy; 2022 Cat-Eyes</p>
            </div>        </div>
    </div>
</footer>